@global-title-font: #ffffff;
@global-title-background: #303130;
@global-body-background: #f3f3f3;

@view-title-font: #333333;
@view-title-background: #ffffff;
@view-body-background: #ffffff;

@border:1px solid #e4e4e4;
