
@import url('@/constants/font.less');
@import url('@/constants/color.less');

.selection-root {
    display: flex;
    flex-direction: column;
    width: 100%;

    .selection-title {
        flex: 1; // 固定高度
        font-weight: @font-weight;
        font-size: @view-header-font-size;
        background-color: @view-title-background;
        color: @view-title-font;
        border: @border;
        padding-left: 8px;
    }

    .selection-body {
        flex: 12;
        background-color: @view-body-background;
        border: @border;
        margin: 8px;
    }
}
