@import url('@/constants/font.less');

.header-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    width: 100%;
    height: 100%;

    .header-title {
        font-weight: @font-weight;
        font-size: @global-header-font-size;
        font-style: italic;
    }

    .header-right-content {
        display: flex;
        align-items: center;
        gap: 16px; // Add some space between the dropdowns and the gear
    }

    .header-controls {
        // This will take up the flexible space, pushing title and actions to the sides
    }

    .header-actions {
        // For the gear icon
    }
}
